@tailwind base;
@tailwind components;
@tailwind utilities;

* { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
* { font-family: 'Inter var', sans-serif; }
}

.App {
  text-align: none !important
}

.formInput {
  @apply input input-bordered w-96 max-w-xs text-black placeholder-gray-600 bg-white;
}

.formInputModal {
  @apply input input-bordered w-full text-gray-500 placeholder-gray-400 bg-white;
}

.formSelect {
  @apply select select-bordered w-full text-gray-400  bg-white;
}

.modalButton { 
  @apply btn btn-md bg-yellow-600 border-0 capitalize shadow-lg;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
